<style>
    .rating {
display: flex;
flex-direction: row-reverse;
justify-content: center;
}

.rating > input{
 display:none;
}

.rating > label {
position: relative;
width: 1.1em;
font-size: 3em;
color: #FFD700;
cursor: pointer;
}

.rating > label::before{
content: "\2605";
position: absolute;
opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
opacity: 1 !important;
}

.rating > input:checked ~ label:before{
opacity:1;
}

.rating:hover > input:checked ~ label:before{ 
opacity: 0.4;
 }

 .arama-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 15px;
   
}

#arama-input {
    width: 150px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
}
#arama-input:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
#arama-button {
    background-color: #77838f;
    color: #fff;
    border: none;
    border-radius: 0px;
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#arama-button:hover {
    background-color: #77818b;
}
</style>
<title>Yapx | Meslek </title>
 
        <!-- ========== MAIN CONTENT ========== -->
        <main id="content" role="main">
            <!-- breadcrumb -->
            <div class="bg-gray-13 bg-md-transparent">
                <div class="container">
                    <!-- breadcrumb -->
                    <div class="my-md-3">
                        <nav aria-label="breadcrumb">
                           
                        </nav>
                    </div>
                    <!-- End breadcrumb -->
                </div>
            </div>
            <!-- End breadcrumb -->

            <div class="container">
                <div class="row">
                    
                    
                    
                    <div class="col-xl-12 col-wd-12gdot5">
                        <!-- Single Product Body -->
                        <div class="mb-xl-14 mb-6">
                            <div class="d-lg-none d-block" style="text-align: center;">
                               
                            </div>
                            <script> </script>
<body onload="openTab(event, 'tab1')">

<style>
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #77838f;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.tab button:hover {
  background-color: #82909c;
}

.tab button.active {
  background-color: #82909c;
}

.tabcontent {
  display: none;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-top: none;
}


</style>

<div class="row">
    <div class="col-md-12 mb-4 mb-md-0">
     
        <a href="#" style="" class="font-size-12 text-gray-5 mb-2 d-inline-block"></a>
        
        <div id="carouselExampleControls" class="carousel slide row" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" style="width: 100%; height: 400px; margin-left: 5px; z-index: -999;" src="/uploads/images/yapxmarketimthumb.jpg" alt="">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" style="width: 100%; height: 400px; margin-left: 5px; z-index: -999;" src="/uploads/images/yapxmarketimthumb.jpg" alt="">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" style="width: 100%; height: 400px; margin-left: 5px; z-index: -999;" src="/uploads/images/yapxmarketimthumb.jpg" alt="">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="row col-md-12" style="padding:20px;">
          <div class="row" style="width: 100%;">
          <img class="img-fluid" height="300" width="300" style="border-radius: 50%; border: 1px solid black; position: relative; top: -100px; left: 30px; margin-right: 50px; height: 200px; width: 200px;" src="/uploads/images/" alt="">
            <div class="col-lg">

            
            <h2 class="font-size-25 text-lh-1dot2 d-inline-flex align-items-baseline small font-size-15 text-lh-1 mr-2 ">İnşaatçı Mahmut</h2>
            <div class="mt-1 mb-3">
              <a style="" class="d-inline-flex align-items-center small font-size-15 text-lh-1" href="#">
                <div style="" class="text-warning mr-2">
                    
                 
                </div>
                <span class="text-secondary font-size-13">( Oy Sayısı)</span>
            </a>
            </div>
            </div>
            
          <div class="col-lg" style="float: right;">
            <a href="#" class="text-white-6 font-size-13" ></a>
            
            </a>
            <button style="border-radius: 0px;  margin-bottom: 5px; float: right;" type="button" class="btn btn-secondary"  id="myBtn" style="  font-weight: bold;" data-toggle="modal" data-target="#myModal">
              <span class="fa fa-send mr-1"></span>Mesaj Gönder
            </button>
        </div>
          </div>
        </div>
        
               
                



                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px; font-weight: bold; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"></h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" style="background: none; border: none;">X</button>
                      </div>
                      <div class="modal-body">
                        <form action="/sendMessage/" method="post" enctype="application/x-www-form-urlencoded" style="text-align: center;">
                          <div style=" margin-top: 10px;">
                              <div>
                                <div>
                                  <label for="country" style="font-weight: bold;">Ürün Hakkında Soru Sormak İstiyorsanız Ürün Seçin</label>
                                </div>
                                <div>
                                  <select id="country" name="konu" class="form-select" style="padding: 5px; border: 1px solid #395FA9; border-radius: 20px; margin: 10px; width: 300px;">
                                    <option value="Teknik">Teknik</option>
                                    <option value="Fiyat">Fiyat</option>
                                    <option value="Ürün Hakkında">Ürün hakkında</option>
                                    <option value="Teslimat">Teslimat</option>
                                    <option value="Diğer...">Diğer..</option>
                                  </select>
                                </div>
                              </div>
                              <hr>
                              <div>
                                <div>
                                  <label for="subject" style="font-weight: bold; padding: 10px;">Mesaj</label>
                                </div>
                                <textarea id="subject" name="message_content" class="form-control" placeholder="Mesajınızı yazın.." style="height:200px"></textarea>

                              </div>
                              <hr>
                              
                              
                              <input type="submit" value="Gönder" class="btn btn-success" style="border-radius: 0px; width: 100%;">
                            
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Eskisi-->
                <div >
                  
                    <div >
                    
                 
                      
                    </div>
                    
                  </div>
                  
                
    </div>
    
<hr>

                            
                        </div>
                        <!-- End Single Product Body -->
                        <!-- Single Product Tab -->
                        <!-- Single Product Tab -->
                        <!-- Related products -->
                        
                        <div class="mb-6">
                            
                            
                            <div class="col-xl-12 col-wd-12gdot5">
                                <div class="position-relative bg-white text-center z-index-2">
                                    <ul class="nav nav-classic nav-tab justify-content-center" id="pills-tab" role="tablist" style="margin: 30px;">
                                        <li class="nav-item">
                                            <a class="nav-link active js-animation-link" id="pills-one-example1-tab" data-toggle="pill" href="#pills-one-example1" role="tab" aria-controls="pills-one-example1" aria-selected="true"
                                                data-target="#pills-one-example1"
                                                data-link-group="groups"
                                                data-animation-in="slideInUp">
                                                <div class="d-md-flex justify-content-md-center align-items-md-center">
                                                    Projeler
                                                </div>
                                            </a>
                                        </li>
                            
                                        <li class="nav-item">
                                            <a class="nav-link js-animation-link" id="pills-two-example2-tab" data-toggle="pill" href="#pills-two-example1" role="tab" aria-controls="pills-two-example2" aria-selected="false"
                                                data-target="#pills-two-example1"
                                                data-link-group="groups"
                                                data-animation-in="slideInUp">
                                                <div class="d-md-flex justify-content-md-center align-items-md-center">
                                                    Hakkında ve Referanslar
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link js-animation-link" id="pills-three-example1-tab" data-toggle="pill" href="#pills-three-example1" role="tab" aria-controls="pills-three-example1" aria-selected="false"
                                                data-target="#pills-three-example1"
                                                data-link-group="groups"
                                                data-animation-in="slideInUp">
                                                <div class="d-md-flex justify-content-md-center align-items-md-center">
                                                    İletişim Bilgileri
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link js-animation-link" id="pills-four-example1-tab" data-toggle="pill" href="#pills-four-example1" role="tab" aria-controls="pills-four-example1" aria-selected="
                                            false"
                                            data-target="#pills-four-example1"
                                            data-link-group="groups"
                                            data-animation-in="slideInUp">
                                            <div class="d-md-flex justify-content-md-center align-items-md-center">
                                                Yorumlar
                                            </div>
                                            </a>
                                            </li>
                                            </ul>
                                            </div>

                                            <div class="row tab-content" id="pills-tabContent">
                                                <div class="col-xl-12 col-wd-12gdot5 tab-pane fade pt-2 show active" id="pills-one-example1" role="tabpanel" aria-labelledby="pills-one-example1-tab" data-target-group="groups">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col-xl-9 col-wd">
                                                                <div class="min-width-1100-wd">
                                                                    <article class="card mb-13 border-0">
                                                                        <div class="row">
                                                                            <div class="col-lg-4 mb-5 mb-lg-0">
                                                                                <div id="carouselExampleControls2" class="carousel slide row" data-ride="carousel">
                                                                                    <div class="carousel-inner ">
                                                                                      <div class="carousel-item active">
                                                                                        <img class="d-block w-100  " style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                    </div>
                                                                                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                                                                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Previous</span>
                                                                                    </a>
                                                                                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                                                                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Next</span>
                                                                                    </a>
                                                                                  </div>
                                                                            </div>
                                                                            <div class="col-lg-8">
                                                                                <div class="card-body p-0">
                                                                                    <h4 class="mb-3"><a href="../blog/single-blog-post.html">Yapx İnşaat Ev Boyama</a></h4>
                                                                                    <div class="mb-3 pb-3 border-bottom">
                                                                                        <div class="list-group list-group-horizontal flex-wrap list-group-borderless align-items-center mx-n0dot5">
                                                                                            
                                                                                            <a href="" class="mx-0dot5 text-gray-5">March 4, 2016</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero. In nec enim nisi, in ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus.</p>
                                                                                    <div class="flex-horizontal-center">
                                                                                       
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                    <article class="card mb-13 border-0">
                                                                        <div class="row">
                                                                            <div class="col-lg-4 mb-5 mb-lg-0">
                                                                                <div id="carouselExampleControls2" class="carousel slide row" data-ride="carousel">
                                                                                    <div class="carousel-inner ">
                                                                                      <div class="carousel-item active">
                                                                                        <img class="d-block w-100  " style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                    </div>
                                                                                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                                                                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Previous</span>
                                                                                    </a>
                                                                                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                                                                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Next</span>
                                                                                    </a>
                                                                                  </div>   
                                                                            </div>
                                                                            <div class="col-lg-8">
                                                                                <div class="card-body p-0">
                                                                                    <h4 class="mb-3"><a href="../blog/single-blog-post.html">Yapx İnşaat Ev Boyama</a></h4>
                                                                                    <div class="mb-3 pb-3 border-bottom">
                                                                                        <div class="list-group list-group-horizontal flex-wrap list-group-borderless align-items-center mx-n0dot5">
                                                                                            
                                                                                            <a href="" class="mx-0dot5 text-gray-5">March 4, 2016</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero. In nec enim nisi, in ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus.</p>
                                                                                    <div class="flex-horizontal-center">
                                                                                       
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                    <article class="card mb-13 border-0">
                                                                        <div class="row">
                                                                            <div class="col-lg-4 mb-5 mb-lg-0">
                                                                                <div id="carouselExampleControls2" class="carousel slide row" data-ride="carousel">
                                                                                    <div class="carousel-inner ">
                                                                                      <div class="carousel-item active">
                                                                                        <img class="d-block w-100  " style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                    </div>
                                                                                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                                                                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Previous</span>
                                                                                    </a>
                                                                                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                                                                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Next</span>
                                                                                    </a>
                                                                                  </div>   
                                                                            </div>
                                                                            <div class="col-lg-8">
                                                                                <div class="card-body p-0">
                                                                                    <h4 class="mb-3"><a href="../blog/single-blog-post.html">Yapx İnşaat Ev Boyama</a></h4>
                                                                                    <div class="mb-3 pb-3 border-bottom">
                                                                                        <div class="list-group list-group-horizontal flex-wrap list-group-borderless align-items-center mx-n0dot5">
                                                                                            
                                                                                            <a href="" class="mx-0dot5 text-gray-5">March 4, 2016</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero. In nec enim nisi, in ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus.</p>
                                                                                    <div class="flex-horizontal-center">
                                                                                       
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                    <article class="card mb-13 border-0">
                                                                        <div class="row">
                                                                            <div class="col-lg-4 mb-5 mb-lg-0">
                                                                                <div id="carouselExampleControls2" class="carousel slide row" data-ride="carousel">
                                                                                    <div class="carousel-inner ">
                                                                                      <div class="carousel-item active">
                                                                                        <img class="d-block w-100  " style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                    </div>
                                                                                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                                                                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Previous</span>
                                                                                    </a>
                                                                                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                                                                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Next</span>
                                                                                    </a>
                                                                                  </div>   
                                                                            </div>
                                                                            <div class="col-lg-8">
                                                                                <div class="card-body p-0">
                                                                                    <h4 class="mb-3"><a href="../blog/single-blog-post.html">Yapx İnşaat Ev Boyama</a></h4>
                                                                                    <div class="mb-3 pb-3 border-bottom">
                                                                                        <div class="list-group list-group-horizontal flex-wrap list-group-borderless align-items-center mx-n0dot5">
                                                                                            
                                                                                            <a href="" class="mx-0dot5 text-gray-5">March 4, 2016</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero. In nec enim nisi, in ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus.</p>
                                                                                    <div class="flex-horizontal-center">
                                                                                       
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                    <article class="card mb-13 border-0">
                                                                        <div class="row">
                                                                            <div class="col-lg-4 mb-5 mb-lg-0">
                                                                                <div id="carouselExampleControls2" class="carousel slide row" data-ride="carousel">
                                                                                    <div class="carousel-inner ">
                                                                                      <div class="carousel-item active">
                                                                                        <img class="d-block w-100  " style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                    </div>
                                                                                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                                                                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Previous</span>
                                                                                    </a>
                                                                                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                                                                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Next</span>
                                                                                    </a>
                                                                                  </div>   
                                                                            </div>
                                                                            <div class="col-lg-8">
                                                                                <div class="card-body p-0">
                                                                                    <h4 class="mb-3"><a href="../blog/single-blog-post.html">Yapx İnşaat Ev Boyama</a></h4>
                                                                                    <div class="mb-3 pb-3 border-bottom">
                                                                                        <div class="list-group list-group-horizontal flex-wrap list-group-borderless align-items-center mx-n0dot5">
                                                                                            
                                                                                            <a href="" class="mx-0dot5 text-gray-5">March 4, 2016</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero. In nec enim nisi, in ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus.</p>
                                                                                    <div class="flex-horizontal-center">
                                                                                       
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                    <article class="card mb-13 border-0">
                                                                        <div class="row">
                                                                            <div class="col-lg-4 mb-5 mb-lg-0">
                                                                                <div id="carouselExampleControls2" class="carousel slide row" data-ride="carousel">
                                                                                    <div class="carousel-inner ">
                                                                                      <div class="carousel-item active">
                                                                                        <img class="d-block w-100  " style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                      <div class="carousel-item">
                                                                                        <img class="d-block w-100" style="width:100%; height:250px; display:flex; justify-content:center; align-items:center;" src="/uploads/images/boyama.jpg" alt="">
                                                                                      </div>
                                                                                    </div>
                                                                                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                                                                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Previous</span>
                                                                                    </a>
                                                                                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                                                                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                      <span class="sr-only">Next</span>
                                                                                    </a>
                                                                                  </div>   
                                                                            </div>
                                                                            <div class="col-lg-8">
                                                                                <div class="card-body p-0">
                                                                                    <h4 class="mb-3"><a href="../blog/single-blog-post.html">Yapx İnşaat Ev Boyama</a></h4>
                                                                                    <div class="mb-3 pb-3 border-bottom">
                                                                                        <div class="list-group list-group-horizontal flex-wrap list-group-borderless align-items-center mx-n0dot5">
                                                                                            
                                                                                            <a href="" class="mx-0dot5 text-gray-5">March 4, 2016</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero. In nec enim nisi, in ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus.</p>
                                                                                    <div class="flex-horizontal-center">
                                                                                       
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                   
                                                                    
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                <div class="col-xl-12 col-wd-12gdot5 tab-pane fade pt-2" id="pills-two-example1" role="tabpanel" aria-labelledby="pills-two-example1-tab" data-target-group="groups">
                                                    <div class="row">
                                                        
                                                        <div class="col-xl-12 col-wd-12gdot5">
                                                            <div class="border-bottom border-color-1 mb-8 rounded-0">
                                                                <h3 class="section-title mb-0 pb-2 font-size-25">Hakkımızda</h3>
                                                            </div>
                                                            <p class="mb-4">
                                                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                                                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                                                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                                                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                                                            </p>
                                                            <div class="border-bottom border-color-1 mb-8 rounded-0">
                                                                <h3 class="section-title mb-0 pb-2 font-size-25">Referanslarımız</h3>
                                                            </div>
                                                            <div id="basicsAccordion" class="mb-12">
                    <!-- Card -->
                    <div class="card mb-3 border-top-0 border-left-0 border-right-0 border-color-1 rounded-0">
                        <div class="card-header card-collapse bg-transparent-on-hover border-0" id="basicsHeadingOne">
                            <h5 class="mb-0">
                                <button type="button" class="px-0 btn btn-link btn-block d-flex justify-content-between card-btn py-3 font-size-25 border-0 collapsed" data-toggle="collapse" data-target="#basicsCollapseOner" aria-expanded="false" aria-controls="basicsCollapseOner">
                                    Yapx İnşaat A.Ş

                                    <span class="card-btn-arrow">
                                        <i class="fas fa-chevron-down text-gray-90 font-size-18"></i>
                                    </span>
                                </button>
                            </h5>
                        </div>
                        <div id="basicsCollapseOner" class="collapse" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion" style="">
                            <div class="card-body pl-0 pb-8">
                                <p class="mb-0">In egestas, libero vitae scelerisque tristique, turpis augue faucibus dolor, at aliquet ligula massa at justo. Donec viverra tortor quis tortor pretium, in pretium risus finibus. Integer viverra pretium auctor. Aliquam eget convallis eros, varius sagittis nulla. Suspendisse potenti. Aenean consequat ex sit amet metus ultrices tristique. Nam ac nunc augue. Suspendisse finibus in dolor eget volutpat.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card mb-3 border-top-0 border-left-0 border-right-0 border-color-1 rounded-0">
                        <div class="card-header card-collapse bg-transparent-on-hover border-0" id="basicsHeadingTwo">
                            <h5 class="mb-0">
                                <button type="button" class="px-0 btn btn-link btn-block d-flex justify-content-between card-btn py-3 font-size-25 border-0 collapsed" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false" aria-controls="basicsCollapseTwo">
                                    Saylan Group

                                    <span class="card-btn-arrow">
                                        <i class="fas fa-chevron-down text-gray-90 font-size-18"></i>
                                    </span>
                                </button>
                            </h5>
                        </div>
                        <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion" style="">
                            <div class="card-body pl-0 pb-8">
                                <p class="mb-0">In egestas, libero vitae scelerisque tristique, turpis augue faucibus dolor, at aliquet ligula massa at justo. Donec viverra tortor quis tortor pretium, in pretium risus finibus. Integer viverra pretium auctor. Aliquam eget convallis eros, varius sagittis nulla. Suspendisse potenti. Aenean consequat ex sit amet metus ultrices tristique. Nam ac nunc augue. Suspendisse finibus in dolor eget volutpat.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card mb-3 border-top-0 border-left-0 border-right-0 border-color-1 rounded-0">
                        <div class="card-header card-collapse bg-transparent-on-hover border-0" id="basicsHeadingThree">
                            <h5 class="mb-0">
                                <button type="button" class="px-0 btn btn-link btn-block d-flex justify-content-between card-btn collapsed py-3 font-size-25 border-0" data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false" aria-controls="basicsCollapseThree">
                                    Yılmaz İnşaat A.Ş 

                                    <span class="card-btn-arrow">
                                        <i class="fas fa-chevron-down text-gray-90 font-size-18"></i>
                                    </span>
                                </button>
                            </h5>
                        </div>
                        <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree" data-parent="#basicsAccordion">
                            <div class="card-body pl-0 pb-8">
                                <p class="mb-0">In egestas, libero vitae scelerisque tristique, turpis augue faucibus dolor, at aliquet ligula massa at justo. Donec viverra tortor quis tortor pretium, in pretium risus finibus. Integer viverra pretium auctor. Aliquam eget convallis eros, varius sagittis nulla. Suspendisse potenti. Aenean consequat ex sit amet metus ultrices tristique. Nam ac nunc augue. Suspendisse finibus in dolor eget volutpat.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    
                    <!-- End Card -->
                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                <div class="col-xl-12 col-wd-12gdot5 tab-pane fade pt-2" id="pills-three-example1" role="tabpanel" aria-labelledby="pills-three-example1-tab" data-target-group="groups">
                                                    <div class="row">
                                                        <div class="col-xl-6 col-wd-6gdot5">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                   Adres <i class="fas fa-map ml-1" aria-hidden="true"></i>
                                                                </div>
                                                                <div class="card-body">
                                                                  
                                                                  <p class="card-text"></p>
                                    
                                                                </div>
                                                              </div>
                                                              <div class="card">
                                                                <div class="card-header">
                                                                   <i class="fas fa-database ml-1" aria-hidden="true"></i>
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text"></p>
                                                                  
                                    
                                                                </div>
                                                              </div>
                                                        </div>
                                                        <div class="col-xl-6 col-wd-6gdot5">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                   Telefon <i class="fas fa-phone ml-1" aria-hidden="true"></i>
                                                                </div>
                                                                <div class="card-body">
                                                                  
                                                                  <p class="card-text"></p>
                                    
                                                                </div>
                                                              </div>
                                                              <div class="card">
                                                                <div class="card-header">
                                                                   Puan <i class="fa fa-star-o ml-1" aria-hidden="true"></i>
                                                                </div>
                                                                <div class="card-body">
                                                                  <p class="card-text"></p>
                                    
                                                                </div>
                                                              </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                <div class="col-xl-12 col-wd-12gdot5 tab-pane fade pt-2" id="pills-four-example1" role="tabpanel" aria-labelledby="pills-four-example1-tab" data-target-group="groups">
                                                    <div class="row">
                                                        
                                                        <div class="col-xl-12 col-wd-12gdot5">
                                                            <div class="borders-radius-17 border p-4 mt-4 mt-md-0 px-lg-10 py-lg-9">
                                                                <div class="tab-content" id="Jpills-tabContent">
                                                                    <div class="tab-pane fade" id="Jpills-one-example1" role="tabpanel" aria-labelledby="Jpills-one-example1-tab">
                                                                        <div class="row no-gutters">
                                                                            <div class="col mb-6 mb-md-0">
                                                                                <ul class="row list-unstyled products-group no-gutters border-bottom border-md-bottom-0">
                                                                                    
                                                                                        <li class="col-4 col-md-4 col-xl-2gdot5 product-item remove-divider-sm-down border-0">
                                                <div class="product-item__outer h-100">
                                                <div class="remove-prodcut-hover product-item__inner px-xl-4 p-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2 d-none d-md-block"><a href="/urunler/341431 " class="font-size-12 text-gray-5"></a></div>
                                                        <h5 class="mb-1 product-item__title d-none d-md-block"><a href="#" class="text-blue font-weight-bold">123123123 </a></h5>
                                                        <div class="mb-2">
                                                            <a href="/urunler/341431 " class="d-block text-center"><img class="img-fluid" src="/uploads/images/yapx_1660259804250.jpg" alt="Image Description"></a>
                                                        </div>
                                                        <div class="flex-center-between mb-1 d-none d-md-block">
                                                            <div class="prodcut-price">
                                                                <div class="text-gray-100">12312312</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                </li> 
                                                                                    
                                                                                </ul>
                                                                               
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-pane fade active show" id="Jpills-four-example1" role="tabpanel" aria-labelledby="Jpills-four-example1-tab">
                                                                        <div class="row mb-8">
                                                                            <div class="col-md-4">
                                                                              
                                                                                <!-- Form -->
                                                                                
                                                                                
                                                                                    
                                                                                    <div class="row align-items-center mb-4">
                                                                                        <div class="col-md-4 col-lg-3">
                                                                                            <label for="rating" class="form-label mb-0">Derecelendirme</label>
                                                                                        </div>
                                                                                        <div class="col-md-8 col-lg-9">
                                                                                            <a href="#" class="d-block">
                                                                                                <div name="rating" class="rating">
                                                                                                
                                                                                                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                                                                                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                                                                                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                                                                                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                                                                                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                                                                                                    
                                                                                                </div>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="js-form-message form-group mb-3 row">
                                                                                        <div class="col-md-4 col-lg-3">
                                                                                            <label for="descriptionTextarea" class="form-label">Yorumunuz</label>
                                                                                        </div>
                                                                                        <div class="col-md-8 col-lg-9">
                                                                                            <textarea id="yorum" name="yorum" class="form-control" rows="10" data-msg="Please enter your message." data-error-class="u-has-error" data-success-class="u-has-success" required></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-md-12 col-lg-12">
                                                                                            <button type="submit" class="btn btn-primary-dark  transition-3d-hover" style="float: right;">Yorumunuzu Ekleyin </button>
                                                                                        </div>
                                                                                            
                                                                                        
                                                                                    </div>
                                                                                </form>
                                                                                <!-- End Form -->
                                                                            </div>
                                                                            <div class="col-md-1">

                                                                            </div>
                                                                            <div class="col-md-7">
                                                                                
                                                                            </div>
                                                                        </div>
                                                                        <!-- Review -->
                                                                        
                                                
                                                <!-- Reviewer -->
                                                
                                                <!-- End Reviewer -->
                                                </div>
                                                                        
                                                
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    



                            
                            
                            
                        </div>
                        
                        <!-- End Related products -->
                    </div>
                   

                </div>
                <!-- Brand Carousel -->
                
            </div>
        
            </div>
        </main>
        
        <!-- ========== END MAIN CONTENT ========== -->
                        <!-- End Content -->
                    </div>
                </div>
            </div>
        </aside>
        <!-- End Account Sidebar Navigation -->
        <!-- ========== END SECONDARY CONTENTS ========== -->

    
        <!-- Go to Top -->
        <a class="js-go-to u-go-to" href="#"
            data-position='{"bottom": 15, "right": 15 }'
            data-type="fixed"
            data-offset-top="400"
            data-compensation="#header"
            data-show-effect="slideInUp"
            data-hide-effect="slideOutDown">
            <span class="fas fa-arrow-up u-go-to__inner"></span>
        </a>
        <!-- End Go to Top -->

        <!-- JS Plugins Init. -->
        <script>
            $(window).on('load', function () {
                // initialization of HSMegaMenu component
                $('.js-mega-menu').HSMegaMenu({
                    event: 'hover',
                    direction: 'horizontal',
                    pageContainer: $('.container'),
                    breakpoint: 767.98,
                    hideTimeOut: 0
                });
            });

            $(document).on('ready', function () {
                // initialization of header
                $.HSCore.components.HSHeader.init($('#header'));

                // initialization of animation
                $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                    afterOpen: function () {
                        $(this).find('input[type="search"]').focus();
                    }
                });

                // initialization of HSScrollNav component
                $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
                  duration: 700
                });

                // initialization of quantity counter
                $.HSCore.components.HSQantityCounter.init('.js-quantity');

                // initialization of popups
                $.HSCore.components.HSFancyBox.init('.js-fancybox');

                // initialization of countdowns
                var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
                    yearsElSelector: '.js-cd-years',
                    monthsElSelector: '.js-cd-months',
                    daysElSelector: '.js-cd-days',
                    hoursElSelector: '.js-cd-hours',
                    minutesElSelector: '.js-cd-minutes',
                    secondsElSelector: '.js-cd-seconds'
                });

                // initialization of malihu scrollbar
                $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

                // initialization of forms
                $.HSCore.components.HSFocusState.init();

                // initialization of form validation
                $.HSCore.components.HSValidation.init('.js-validate', {
                    rules: {
                        confirmPassword: {
                            equalTo: '#signupPassword'
                        }
                    }
                });

                // initialization of show animations
                $.HSCore.components.HSShowAnimation.init('.js-animation-link');

                // initialization of fancybox
                $.HSCore.components.HSFancyBox.init('.js-fancybox');

                // initialization of slick carousel
                $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

                // initialization of go to
                $.HSCore.components.HSGoTo.init('.js-go-to');

                // initialization of hamburgers
                $.HSCore.components.HSHamburgers.init('#hamburgerTrigger');

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                    beforeClose: function () {
                        $('#hamburgerTrigger').removeClass('is-active');
                    },
                    afterClose: function() {
                        $('#headerSidebarList .collapse.show').collapse('hide');
                    }
                });

                $('#headerSidebarList [data-toggle="collapse"]').on('click', function (e) {
                    e.preventDefault();

                    var target = $(this).data('target');

                    if($(this).attr('aria-expanded') === "true") {
                        $(target).collapse('hide');
                    } else {
                        $(target).collapse('show');
                    }
                });

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

                // initialization of select picker
                $.HSCore.components.HSSelectPicker.init('.js-select');
            });
        </script>
    </body>
   
    
</html>
<script src="jquery-3.6.3.min.js"></script>
<script>
  


</script>

<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

document.addEventListener("DOMContentLoaded", function(event) {
  document.getElementsByClassName("tablinks")[0].click();
  document.getElementsByClassName("tablinks")[0].css('background-color: #ccc;');
});

function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
for (i = 0; i < tablinks.length; i++) {
tablinks[i].className = tablinks[i].className.replace(" active", "");
}
document.getElementById(tabName).style.display = "block";
evt.currentTarget.className += " active";
}
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">