<div class="main-content">
    <div class="section__content section__content--p30">
    <div class="container-fluid">
        
    <div class="row" style="border: 1px solid gray; border-radius: 2%;">
            <div class="card-body">
              
            
                <form action="/yapxadminlogin/adminEklePost" method="post" enctype="application/x-www-form-urlencoded">
                  
                  <div style="padding-left: 20%; padding-right: 20%;">

                  
                    <div class="form-group">
                      <label for="exampleInputEmail1" style="font-weight: bold;">Kullanıcı Adı</label>
                      <input name="username"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1" style="font-weight: bold;">Şifre</label>
                      <input name="sifre" type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1" style="font-weight: bold;">Yetki Seviyesi</label>
                      <select name="yetkiseviyesi" class="form-control form-control-sm" for="exampleInputEmail1">
                          <option value="3">En Üst Yetkili(Okuma,Yazma her şey...)</option>
                          <option value="2">Orta Yetkili(Okuma)</option>
                          <option value="1">En Alt Yetkili(Ürün Ekleme)</option>
                      </select>
                      
                      
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" style="font-weight: bold;">İsim Soyisim</label>
                        <input name="isimsoyisim" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">

                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1" style="font-weight: bold;">Email Adresi</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                        
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1" style="font-weight: bold;">Telefon Numarası</label>
                        <input name="telefon" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                        
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1" style="font-weight: bold;">Adres</label>
                        <textarea name="adres" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        
                      </div>
                      
                      
                    <button style="margin-left: 45%; width: 100px;" type="submit" class="btn btn-primary">Kaydet</button>
                  </div>
                  </form>
        
        

      </div>
    </div>
    
  
</div>
            
        </div>
    </div>
</div>