<style>
    h1 {
color: white;
line-height: 120%;
margin: 0 auto 2rem auto;
max-width: 30rem;
}
select {

/* styling */
background-color: white;
border: thin solid blue;
border-radius: 4px;
display: inline-block;
font: inherit;
line-height: 1.5em;
padding: 0.5em 3.5em 0.5em 1em;

/* reset */

margin: 0;      
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;
}


/* arrows */

select.classic {
background-image:
linear-gradient(45deg, transparent 50%, blue 50%),
linear-gradient(135deg, blue 50%, transparent 50%),
linear-gradient(to right, skyblue, skyblue);
background-position:
calc(100% - 20px) calc(1em + 2px),
calc(100% - 15px) calc(1em + 2px),
100% 0;
background-size:
5px 5px,
5px 5px,
2.5em 2.5em;
background-repeat: no-repeat;
}

select.classic:focus {
background-image:
linear-gradient(45deg, white 50%, transparent 50%),
linear-gradient(135deg, transparent 50%, white 50%),
linear-gradient(to right, gray, gray);
background-position:
calc(100% - 15px) 1em,
calc(100% - 20px) 1em,
100% 0;
background-size:
5px 5px,
5px 5px,
2.5em 2.5em;
background-repeat: no-repeat;
border-color: grey;
outline: 0;
}


 table {
   width: 100%;
   border-collapse: collapse;
 }

 th, td {
   border: 1px solid black;
   padding: 8px;
   text-align: left;
 }

 th {
   background-color: lightgray;
 }
 body {
  background-color: #eff4f7;
  color: #777;
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif
}



</style>



            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div id="wrapper">

                  <div class="overview-wrap col-md-12 pb-3">
                  <div style="width: 300px; height: 150px; margin-bottom: 20px; margin-left: 50px; margin-right: 50px;  padding: 2%; background: linear-gradient(-90deg, #fed700, #ffffff); border-radius: 5%;" id="aramacılır2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16" style="float:right; margin-bottom: 50px;">
                      <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                    </svg>
                    <div>
                      <span style="">
                        <h6 style="color: #777;  margin-top: 20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">Toplam Ziyaretçi</h6>
                        
                        <h4 style=" margin-top: 20px; font-weight: bold;">50,526</h4>
                      </span>
                      
                  
                    </div> 
                  </div>
                  <div style="width: 300px; height: 150px; margin-bottom: 20px; margin-left: 50px; margin-right: 50px;  padding: 2%; background: linear-gradient(-90deg, #fed700, #ffffff); border-radius: 5%;" id="aramacılır2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" style="float:right; margin-bottom:50px;">
                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div>
                      <span style="">
                        <h6 style="color: #777;  margin-top: 20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">Toplam Ürün</h6>
                        
                        <h4 style=" margin-top: 20px; font-weight: bold;">20,526</h4>
                      </span>
                      
                  
                    </div> 
                  </div>
                  <div style="width: 300px; height: 150px; margin-bottom: 20px; margin-left: 50px; margin-right: 50px;  padding: 2%; background: linear-gradient(-90deg, #fed700, #ffffff); border-radius: 5%;" id="aramacılır2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16" style="float:right; margin-bottom:50px;">
                      <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                    </svg>
                    <div>
                      <span style="">
                        <h6 style="color: #777;  margin-top: 20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">Kayıtlı Kullanıcı</h6>
                        
                        <h4 style=" margin-top: 20px; font-weight: bold;">2,526</h4>
                      </span>
                      
                  
                    </div> 
                  </div>
                  <div style="width: 300px; height: 150px; margin-bottom: 20px; margin-left: 50px; margin-right: 50px;  padding: 2%; background: linear-gradient(-90deg, #fed700, #ffffff); border-radius: 5%;" id="aramacılır2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16" style="float:right; margin-bottom:50px;">
                      <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                    </svg>
                    <div>
                      <span style="">
                        <h6 style="color: #777;  margin-top: 20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">Kayıtlı Dükkan</h6>
                        
                        <h4 style=" margin-top: 20px; font-weight: bold;">526</h4>
                      </span>
                      
                  
                    </div> 
                  </div>
                 
                  
                </div>
                <h2 style="margin: 30px; color: #777;">Ziyaretçi ve Kullanıcı Dağılımı</h2>
                  <div class="row">
                    
                    <div id="aylikChart" style="width: 600px; padding: 30px;  margin: 50px; background: #ffffff; border-radius: 5%; margin-left: 200px; ">
                      <span style=" float: right;">
                        <select name="" id="ziyaretciBox">
                          <option value="aylik2">Aylık</option>
                          <option value="haftalik2">Haftalık</option>
                          <option value="yillik2">Yıllık</option>
                        </select>
                      
                      </span>
                      <h5 style="color: #777; font-weight: bold;  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;"> Ziyaretçi</h5>
                      
                      <canvas id="myChart" ></canvas>
                      <canvas id="myChart2" style="display: none;"></canvas>
                      <canvas id="myChart3" style="display: none;" ></canvas>
                    </div>
                    
                    <div style="width: 400px; padding: 30px;  margin: 50px; background: #ffffff; border-radius: 5%;">
                      <h5 style="color: #777; font-weight: bold;  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; margin-bottom: 10px;">Kullanıcı Dağılımı</h5>
                      <canvas id="pie" ></canvas>
                    </div>
                  </div>
                  <h2 style="margin: 30px; color: #777;">Ürün ve Kayıt Trafiği</h2>
                  <div class="row">
                    <div style="width: 500px; padding: 30px;  margin: 50px; background: #ffffff; border-radius: 2%; margin-left: 150px; ">
                      <span style=" float: right;">
                        <select name="" id="productBox">
                          <option value="aylik3">Aylık</option>
                          <option value="haftalik3">Haftalık</option>
                          <option value="yillik3">Yıllık</option>
                        </select>
                      
                      </span>
                      <h5 style="color: #777; font-weight: bold;  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">Aylık Ürün Sayısı</h5>
                      <canvas id="productChart" ></canvas>
                      <canvas id="productChart2" style="display: none;"></canvas>
                      <canvas id="productChart3" style="display: none;"></canvas>
                    </div>
                    
                    
                    <div style="width: 500px; padding: 30px;  margin: 50px; background: #ffffff; border-radius: 2%; margin-left: 150px; ">
                      <span style=" float: right;">
                        <select name="" id="usersBox">
                          <option value="aylik4">Aylık</option>
                          <option value="haftalik4">Haftalık</option>
                          <option value="yillik4">Yıllık</option>
                        </select>
                      
                      </span>
                      <h5 style="color: #777; font-weight: bold;  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">Aylık Kayıtlı Kullanıcı </h5>
                      <canvas id="usersChart" ></canvas>
                      <canvas id="usersChart2" style="display: none;"></canvas>
                      <canvas id="usersChart3" style="display: none;"></canvas>
                    </div>
                    
                    

                  </div>
                  <div class="row">
                    <div style="width: 500px; padding: 30px;  margin: 50px; background: #ffffff; border-radius: 2%; margin-left: 450px; ">
                      <span style=" float: right;">
                        <select name="" id="shopBox">
                          <option value="aylik5">Aylık</option>
                          <option value="haftalik5">Haftalık</option>
                          <option value="yillik5">Yıllık</option>
                        </select>
                      
                      </span>
                      <h5 style="color: #777; font-weight: bold;  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">Aylık Kayıtlı Dükkan </h5>
                      <canvas id="shopChart" ></canvas>
                      <canvas id="shopChart2" style="display: none;" ></canvas>
                      <canvas id="shopChart3" style="display: none;" ></canvas>
                    </div>
                    

                  </div>
                  
                  
                
                
              </div>
            </div>

               
                        
            <!-- END CONTENT -->
            </div>
                        
                        
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2023 Yapx. All rights reserved. Template by <a href="localhost:8080">Yapx</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
            <script>
                //DATALAR BURAYA
 


            </script>
            <script>
                
            </script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
              
            
              new Chart("myChart", {
                type: 'bar',
                data: {
                  labels: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                  datasets: [{
                    label: 'Aylık Ziyaretçi',
                    data: [10250, 8500, 32000, 50000, 24323, 32134,32000, 50000, 32000, 50000, 24323, 32134],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
              new Chart("myChart2", {
                type: 'bar',
                data: {
                  labels: ['2019','2020','2021','2022','2023'],
                  datasets: [{
                    label: 'Yıllık Ziyaretçi',
                    data: [0,0,2,867,32134],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
              new Chart("myChart3", {
                type: 'bar',
                data: {
                  labels: ['Pazartesi','Salı','Çarşamba','Perşembe','Cuma','Cumartesi','Pazar'],
                  datasets: [{
                    label: 'Haftalık Ziyaretçi',
                    data: [10250, 8500, 32000, 50000, 24323, 32134,32000],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });


var xValues = ["Bireysel Hesap", "Bireysel Dükkan", "Kurumsal Hesap", "Kurumsal Dükkan", "Meslek"];
var yValues = [900, 520, 440, 880, 250];
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("pie", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "World Wide Wine Production 2018"
    }
  }
});


            
              new Chart("productChart", {
                type: 'bar',
                data: {
                  labels: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                  datasets: [{
                    label: 'Ürün Sayısı',
                    data: [10250, 8500, 32000, 50000, 24323, 32134,32000, 50000, 32000, 50000, 24323, 32134],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
              new Chart("productChart2", {
                type: 'bar',
                data: {
                  labels: ['Pazartesi','Salı','Çarşamba','Perşembe','Cuma','Cumartesi','Pazar'],
                  datasets: [{
                    label: 'Ürün Sayısı',
                    data: [10250, 8500, 32000, 50000, 24323, 32134,32000],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
              new Chart("productChart3", {
                type: 'bar',
                data: {
                  labels: ['2019','2020','2021','2022','2023'],
                  datasets: [{
                    label: 'Ürün Sayısı',
                    data: [0,0,2,867,32134],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
              new Chart("usersChart", {
                type: 'bar',
                data: {
                  labels: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                  datasets: [{
                    label: 'Kayıtlı Kullanıcı Sayısı',
                    data: [10250, 8500, 32000, 50000, 24323, 32134,32000, 50000, 32000, 50000, 24323, 32134],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
              new Chart("usersChart2", {
                type: 'bar',
                data: {
                  labels: ['Pazartesi','Salı','Çarşamba','Perşembe','Cuma','Cumartesi','Pazar'],
                  datasets: [{
                    label: 'Ürün Sayısı',
                    data: [10250, 8500, 32000, 50000, 24323, 32134,32000],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
              new Chart("usersChart3", {
                type: 'bar',
                data: {
                  labels: ['2019','2020','2021','2022','2023'],
                  datasets: [{
                    label: 'Ürün Sayısı',
                    data: [0,0,2,867,32134],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
              
              new Chart("shopChart", {
                type: 'bar',
                data: {
                  labels: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                  datasets: [{
                    label: 'Kayıtlı Dükkan Sayısı',
                    data: [10250, 8500, 32000, 50000, 24323, 32134,32000, 50000, 32000, 50000, 24323, 32134],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
              new Chart("shopChart2", {
                type: 'bar',
                data: {
                  labels: ['Pazartesi','Salı','Çarşamba','Perşembe','Cuma','Cumartesi','Pazar'],
                  datasets: [{
                    label: 'Ürün Sayısı',
                    data: [10250, 8500, 32000, 50000, 24323, 32134,32000],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
              new Chart("shopChart3", {
                type: 'bar',
                data: {
                  labels: ['2019','2020','2021','2022','2023'],
                  datasets: [{
                    label: 'Ürün Sayısı',
                    data: [0,0,2,867,32134],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });













              $(document).ready(function() {
  $("#ziyaretciBox").on("click",function() {
    if ($(this).val() == "yillik2") {
      $("#myChart").hide();
      $("#myChart3").hide();
      $("#myChart2").show();
    }
    else if($(this).val() == "haftalik2"){
      $("#myChart").hide();
      $("#myChart2").hide();
      $("#myChart3").show();
    }
    else {
      $("#myChart3").hide();
      $("#myChart2").hide();
      $("#myChart").show();
    }
  });
});

$(document).ready(function() {
  $("#productBox").on("click",function() {
    if ($(this).val() == "yillik3") {
      $("#productChart").hide();
      $("#productChart2").hide();
      $("#productChart3").show();
    }
    else if($(this).val() == "haftalik3"){
      $("#productChart3").hide();
      $("#productChart").hide();
      $("#productChart2").show();
    }
    else {
      $("#productChart3").hide();
      $("#productChart2").hide();
      $("#productChart").show();
    }
  });
});
$(document).ready(function() {
  $("#usersBox").on("click",function() {
    if ($(this).val() == "yillik4") {
      $("#usersChart").hide();
      $("#usersChart2").hide();
      $("#usersChart3").show();
    }
    else if($(this).val() == "haftalik4"){
      $("#usersChart3").hide();
      $("#usersChart").hide();
      $("#usersChart2").show();
    }
    else {
      $("#usersChart3").hide();
      $("#usersChart2").hide();
      $("#usersChart").show();
    }
  });
});
$(document).ready(function() {
  $("#shopBox").on("click",function() {
    if ($(this).val() == "yillik5") {
      $("#shopChart").hide();
      $("#shopChart2").hide();
      $("#shopChart3").show();
    }
    else if($(this).val() == "haftalik5"){
      $("#shopChart3").hide();
      $("#shopChart").hide();
      $("#shopChart2").show();
    }
    else {
      $("#shopChart3").hide();
      $("#shopChart2").hide();
      $("#shopChart").show();
    }
  });
});




            </script>